@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .timeline-title{
      @apply w-full text-left relative text-[#ccc] before:opacity-100 before:absolute before:left-[-44px] before:top-[1px] before:border-2 before:w-5 before:h-5 before:rounded-full before:bg-[#2AF6FF] before:border-[#2AF6FF] before:shadow-glow;
    }
  }

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1024px) {
    .navContainer[data-visible="false"] {
        transform: translateX(100%);
    }

    div.navContainer[data-visible="false"] ~ div.navButton > img.nav\:open {
        display:  none;
    }

    .navContainer[data-visible="true"] {
        transform: translateX(0%);
    }
    div.navContainer[data-visible="true"] ~ div.navButton > img.nav\:close {
        display:  none;
    }

}

.button {
    --background-color: white;
    --border-color: #7a63ff;
    --border-width: 0.5em;
    --edge-size: 0.5em;

    border: 0;
    isolation: isolate;
    padding: 0.5em 1.5em;
    background: var(--background-color);
    position: relative;
    color: white;

    -webkit-clip-path: polygon(
      0% 0.75em,
      0.75em 0,
      100% 0,
      100% calc(100% - 0.75em),
      calc(100% - 0.75em) 100%,
      0 100%
    );
    clip-path: polygon(
        0% 0.75em,
        0.75em 0,
        100% 0,
        100% calc(100% - 0.75em),
        calc(100% - 0.75em) 100%,
        0 100%
    );
}
.button::before,
.button::after {
    content: "";
    position: absolute;
    inset: 0;
}

.button::before {
    background: var(--border-color);
    z-index: -2;
}

.button::after {
    background: #212121;
    z-index: -1;
    -webkit-clip-path: polygon(
      0.25em 1em,
      1em 0.25em,
      calc(100% - 0.25em) 0.25em,
      calc(100% - 0.25em) calc(100% - 1em),
      calc(100% - 1em) calc(100% - 0.25em),
      0.25em calc(100% - 0.25em)
    );
    clip-path: polygon(
      0.25em 1em,
      1em 0.25em,
      calc(100% - 0.25em) 0.25em,
      calc(100% - 0.25em) calc(100% - 1em),
      calc(100% - 1em) calc(100% - 0.25em),
      0.25em calc(100% - 0.25em)
    );

    transition: clip-path 500ms;
    /* transition-timing-function: cubic-bezier(0.87,0,0.13,1);
     */
}

.button:where(:hover, :focus)::after {
    -webkit-clip-path: polygon(
      calc(100% - 0.25em) calc(100% - 1em),
      calc(100% - 0.25em) 0.25em,
      calc(100% - 0.25em) 0.25em,
      calc(100% - 0.25em) calc(100% - 1em),
      calc(100% - 1em) calc(100% - 0.25em),
      calc(100% - 1em) calc(100% - 0.25em)
    );

    clip-path: polygon(
      calc(100% - 0.25em) calc(100% - 1em),
      calc(100% - 0.25em) 0.25em,
      calc(100% - 0.25em) 0.25em,
      calc(100% - 0.25em) calc(100% - 1em),
      calc(100% - 1em) calc(100% - 0.25em),
      calc(100% - 1em) calc(100% - 0.25em)
    );
}